
<div style="text-align:center">
  <img src="https://lh3.ggpht.com/W6p-1aw258FmhPFAIG8P5T5O91jyGupeYXJmOjCII8J8894ALzkdRE8hbUrBrr5XKFOv=h900" width="95%"/>
  <h2 style="text-align:left;color:white;padding-left:20px">#moreWins</h2>
  <div class="row" style="margin-left:20px;">
  <div class="grid">
  <div class="grid-item grid-item--height2"><img src="http://adrenalinfeed.com/wp-content/uploads/awesome-gopro-freeskiing-movie-336x210.jpg" height="80" style="width:100%;border-top-left-radius: 25px;border-top-right-radius: 25px;" /><br/>free skiing</div>
  </div>
</div>
  <div class="row content" style="">
    <div class="col-xs-6">
  <h4>Inspired by this video</h4>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/DdxzpeFyFSQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-5">
      <h4>Let's celebrate</h4>
      <ul>
        <li>awesome tricks</li>
<li>new ideas</li>
<li>feats of superb balance</li>
<li>overcoming the odds life.</li>
      </ul>
      <h5>Who needs pins when you've got wins?</h5>
      <p>This project is part of the curriculum at <a href="http://freecodecamp.com/">Free Code Camp</a>.
Students at FCC build full-stack applications, according to project spec and user stories given in the curriculum.<br/><br/>

        Please check out some of my other projects at:</p>
      <ul>
        <li>My portfolio</li>
        <li><a href="codepen.io/perrot">Codepen</a></li>
        <li><a href="https://github.com/perrot">Github</a></li></ul>
      </div>
    <div class="col-xs-1">
    </div>
    </div>
  <!--
  <p class="text">
    #win
  </p>-->
</div>
<%- include footer %>
