
<div class="footer">
  <a href="http://www.freecodecamp.com/perrot">FreeCodeCamp</a> | 
    <a href="https://twitter.com/zoga9">@perrot</a> | <a href="https://github.com/perrot/winterest-app.git">GitHub</a>
</div>
</body>
</html>
