<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="js/index.js"></script>
</head>
<body>

<div class="row banner ">
  <div class="col-xs-1 padding">
    <a href="/" class="balink">winterest</a>
  </div>
  <div class="col-xs-2 padding" id="recent-wins">
    <a href="/recent-wins" class="balink">Recent Wins</a>
  </div>
  <div class="col-xs-6">
    
  </div>
  <div class="col-xs-2 padding" id="signup">
    <a href="/signup" class="balink">Sign up</a>
  </div>
  <div class="col-xs-1 padding" id="login">
    <a href="/login" class="balink">Login</a>
  </div>
</div>
