
<%- include header %>
<div style="text-align:left;width:60%;color:white;margin:auto">
  <h1>Login</h1>
  <hr/>
<%= message %>
<form action="/login" method="post">
  Email
  <input type="email" name="email" class="form-control" required style="margin-bottom:10px"/>
  Password
  <input type="password" name="password" class="form-control" required style="margin-bottom:10px"/>
  <button  type="submit" class="btn btn-primary">Login</button>  <button class="btn btn-primary" onclick="window.location.href='/signup'">Register</button>
</form>
  <hr/>
<!--
  <button class="btn" style="background:#004CE3;margin-bottom:20px;color:white" onclick="window.location.href='/connect/facebook'">
<i class="fa fa-facebook fa-lg"></i>Connect with Facebook</button>  
-->
<button  class="btn"  onclick="window.location.href='/auth/twitter'" style="background:#33CCFF;margin-bottom:20px;color:white"><i class="fa fa-twitter fa-lg"></i>Connect with Twitter</button>
</div>
<script>
$('#login').addClass('lightgray');
</script>
  
<%- include footer %>
